{% extends 'home/base.html' %}
{% load staticfiles %}


{% block content %}

<div class="row" style='margin-top: 10px;'>
	<div class="col-lg-4 col-lg-offset-4">
	<h1>Add Game</h1>
	<hr>
	<form method='POST' action="{% url 'add_game' %}">
  <div style='margin-bottom: 10px;'>
    <label>Is it a home game?</label>
  <input id='homeGame' style='margin-left: 5px;' type='checkbox'>
  </div>
	{% csrf_token %}
	{{ form.as_p }} 
  <button type="submit" class="btn btn-default">Submit</button>
</form>
	</div>
</div>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>    
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $('#homeGame').click(function(){
      if(this.checked){
      $('#fieldAddress').val("{{ home.address }}")
      $('#city').val("{{ home.city }}")
      $('#zip').val("{{ home.zip }}")

      }else{
        $('#fieldAddress').val('')
        $('#city').val('')
        $('#zip').val('')
      }
    });

  });
  </script>
{% endblock %}