{% extends 'home/base.html' %}
{% load staticfiles %}


{% block content %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
    <h1 class='text-center'>Confirmations:</h1>


    <table class="table table-striped">
      <thead>
        <tr>
          <th class='hidden-xs hidden-sm'></th>
          <th>Game</th>
          <th>Date of Game</th>
          <th>Whos Showing up</th>
          <th>Invites Sent</th>
          <th class='hidden-sm hidden-xs'>Invites Responded</th>
          <th class='hidden-sm hidden-xs'>Update</th>
        </tr>
      </thead>
      <tbody>
        

        {% for confirm in confirms %}

        <tr>
          <th class='hidden-xs hidden-sm' scope="row"></th>
          <td>{{ confirm.game.opponent }}</td>
          <td class='hidden-lg hidden-md'>{{ confirm.small_date }}th</td>
          <td class='hidden-sm hidden-xs'>{{ confirm.game.date }}</td>
          <td class='text-center'><a href="{% url 'players_attending_show' confirm.game.id %}">{{ confirm.game.attendee_total }}</a></td>
          <td class='text-center' ><a href="{% url 'invitees_sent' confirm.game.id %}">{{ confirm.players.count }}</a></td>
          <td class='text-center hidden-xs hidden-sm'><a href="{% url 'players_attending_show' confirm.game.id %}">{{ confirm.game.attendee_total }}</a></td>   
          <td class='hidden-sm hidden-xs'><a href="{% url 'confirmation_list' confirm.game.id %}" class="btn btn-danger">Refresh Totals</a></td>
        </tr>
        <tr>
          <td class='hidden-lg hidden-md'><a href="{% url 'confirmation_list' confirm.game.id %}" class="btn btn-danger">Refresh Totals</a></td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  {% if confirms.0 == None %}
  <h2>There are no confirmations.</h2>
  {% endif %}
  
  </div>

</div>
{% endblock %}