{% load staticfiles %}
<nav class="navbar navbar-default" style='margin-bottom: 0px !important'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class='hidden-sm hidden-xs' style="float: left; margin-top: 12px; margin-right: 10px;" height="25" width='30' src="{% static 'img/gfs-icon.jpeg' %}">
      <a class="navbar-brand" href="{% url 'home' %}">Akron GFS II</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_superuser %}
        <li><a href="{% url 'add_game' %}"><button class="btn btn-danger">Add Game</button></a></li>
        <li><a href="{% url 'confirmation_show' %}">Confirmations for {{ next_sundays_game }}<span style='margin-left: 5px;' class="badge">{{ confirmed.attendee_total }}</span></a></li>
        <li><a href="{% url 'home' %}">Schedule</a></li>
        <li><a href="{% url 'send_game_confirmation_to_selected_players' %}">Dashboard</a></li>
        {% endif %}
        {% if user.is_authenticated %}
         <li><a href="{% url 'auth_logout' %}">logout</a></li>
        {% else %}
         <li><a href="{% url 'auth_login' %}">Admin</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
